:sass
  body
    background-color: #222

%script{:type=>"text/javascript", :src=>"//cdn.jsdelivr.net/phaser/2.2.2/phaser.js"}
%script{:type=>"text/javascript", :src=>"queuegames.js"}

#container
  #game
  #heroes
    #disruptor
    #chaosknight
